.comment {
  align-items: flex-start;
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.comment img {
  aspect-ratio: 1;
  border-radius: 8px;
  width: 3rem;
}

.content {
  flex: 1;
}

.commentBox {
  background-color: var(--gray-700);
  border-radius: 8px;
  padding: 1rem;
  position: relative;
}


.commentBox > button {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.commentBox p {
  margin-top: 1.5rem;
}
